<link rel="stylesheet" href="/css/bookDoctor.css">
<div class="cont">
    <h1>Book Dr.<%= docData.name %></h1>
    <form method="POST" >
        <div class="form-container">
            <pre><textarea name="note" placeholder="Tell the doctor about your medical history, symptoms, problems etc." required></textarea></pre>
            <input type="submit" class='inputBtn' value="Request Checkup">
        </div>
    </form>
</div>
