<style>
    .mainContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #B2D4EA;
    }
</style>
<h3>You are currently getting treated by Dr.<%= docData.name %></h3>
<h4>Choose Action Using Side Panel</h4>