<link rel="stylesheet" href="/css/nav.css">
<div class="nav">
    <div class="name">
        <div class="logo">
            <img src="DocConnect.png" alt="">
        </div>
        DocConnect
    </div>
    <div class="items">
        <a href="index.html">
            <div class="nav-item">
                Home
            </div>
        </a>
        <a href="dashboard.html">
            <div class="nav-item">
                Dashboard
            </div>
        </a>
    </div>
</div>